.carro img{
    width:40px;
    justify-content: center;
}
.uno{
    position: relative;
    bottom:48px;
    left: 30px;
    background-color:white;
    border-radius:100%;
    width:15px;
    height:20px;
    z-index: 1;
}
.carro p{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size:18px;
    position: relative;
    bottom: 4px;
    left: 1px;
}

.carro{
    position: relative;
    top: 10px;
}

.carro:hover{
    cursor: pointer;
}